In [1]:
#https://query2.finance.yahoo.com/ws/fundamentals-timeseries/v1/finance/timeseries/AAPL?symbol=AAPL"
#https://query2.finance.yahoo.com/v8/finance/chart/AAPL?period1=1704145844&period2=1723236317&interval=1mo

In [2]:
from scraper import get_spy500_formWiki


get_spy500_formWiki()

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,0000066740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,0000091142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,0000001800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,0001551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,0001467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,0001524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,0001041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,0000877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,0001136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,0001555280,1952

In [3]:
from scraper import get_StockPrices
import pandas as pd

df = get_StockPrices('NVDA', startSelect='2020-01-02')
df

        adjClose        date ticker  Quarter  meanADJclose
0       5.973633  2020-01-02   NVDA  Q1-2020      6.285297
1       5.878018  2020-01-03   NVDA  Q1-2020      6.285297
2       5.902669  2020-01-06   NVDA  Q1-2020      6.285297
3       5.974131  2020-01-07   NVDA  Q1-2020      6.285297
4       5.985336  2020-01-08   NVDA  Q1-2020      6.285297
...          ...         ...    ...      ...           ...
1159  109.019997  2024-08-12   NVDA  Q3-2024    117.687650
1160  116.139999  2024-08-13   NVDA  Q3-2024    117.687650
1161  118.080002  2024-08-14   NVDA  Q3-2024    117.687650
1162  122.860001  2024-08-15   NVDA  Q3-2024    117.687650
1163  123.390099  2024-08-16   NVDA  Q3-2024    117.687650

[1164 rows x 5 columns]

In [4]:
from scraper import get_companyfacts
#https://data.sec.gov/api/xbrl/companyfacts/CIK0000320193.json
mergedDF = get_companyfacts('0000320193')
mergedDF

,finType,label,description,end,val,accn,fy,fp,form,filed,frame,endFormat,time,start,startFormat,diffDate,monthWindow
0,AccountsPayable,Accounts Payable (Deprecated 2009-01-31),Carrying value as of the balance sheet date of...,2008-09-27,5.520000e+09,0001193125-09-153165,2009,Q3,10-Q,2009-07-22,CY2008Q3I,2008-09-27,0809,null,null,null,null
1,AccountsPayable,Accounts Payable (Deprecated 2009-01-31),Carrying value as of the balance sheet date of...,2009-06-27,4.854000e+09,0001193125-09-153165,2009,Q3,10-Q,2009-07-22,CY2009Q2I,2009-06-27,0906,null,null,null,null
2,AccountsPayableCurrent,"Accounts Payable, Current",Carrying value as of the balance sheet date of...,2008-09-27,5.520000e+09,0001193125-09-214859,2009,FY,10-K,2009-10-27,null,2008-09-27,0809,null,null,null,null
3,AccountsPayableCurrent,"Accounts Payable, Current",Carrying value as of the balance sheet date of...,2008-09-27,5.520000e+09,0001193125-10-012091,2009,FY,10-K/A,2010-01-25,CY2008Q3I,2008-09-27,0809,null,null,null,null
4,AccountsPayableCurrent,"Accounts Payable, Current",Carrying value as of the balance sheet date of...,2009-09-26,5.601000e+09,0001193125-09-214859,2009,FY,10-K,2009-10-27,null,2009-09-26,0909,null,null,null,null
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22738,IncrementalCommonSharesAttributableToShareBase...,Incremental Common Shares Attributable to Dilu...,Additional shares included in the calculation ...,2024-03-30,5.885300e+07,0000320193-24-000069,2024,Q2,10-Q,2024-05-03,CY2024Q1,2024-03-30,2403,2023-12-31,2023-12-31 00:00:00,90.0,3.0
22739,IncrementalCommonSharesAttributableToShareBase...,Incremental Common Shares Attributable to Dilu...,Additional shares included in the calculation ...,2024-06-29,6.212800e+07,0000320193-24-000081,2024,Q3,10-Q,2024-08-02,null,2024-06-29,2406,2023-10-01,2023-10-01 00:00:00,272.0,9.0
22740,IncrementalCommonSharesAttributableToShareBase...,Incremental Common Shares Attributable to Dilu...,Additional shares included in the calculation ...,2024-06-29,6.065400e+07,0000320193-24-000081,2024,Q3,10-Q,2024-08-02,CY2024Q2,2024-06-29,2406,2024-03-31,2024-03-31 00:00:00,90.0,3.0
22741,OtherAssetsMiscellaneousNoncurrent,"Other Assets, Miscellaneous, Noncurrent",Amount of other miscellaneous assets expected ...,2022-09-24,3.905300e+10,0000320193-23-000106,2023,FY,10-K,2023-11-03,CY2022Q3I,2022-09-24,2209,null,null,null,null
22742,OtherAssetsMiscellaneousNoncurrent,"Other Assets, Miscellaneous, Noncurrent",Amount of other miscellaneous assets expected ...,2023-09-30,4.690600e+10,0000320193-23-000106,2023,FY,10-K,2023-11-03,CY2023Q3I,2023-09-30,2309,null,null,null,null

In [5]:
"""
https://www.sec.gov/ix?doc=/Archives/edgar/data/0000320193/000114036124024352/ef20028273_8k.htm


https://data.sec.gov/api/xbrl/companyconcept/CIK0000320193/us-gaap/AccountsPayableCurrent.json - info about reports

https://data.sec.gov/api/xbrl/companyfacts/CIK0000320193.json

/0001140361|24|024352/
accessionNumber - 0001140361-24-024352

"""

'\nhttps://www.sec.gov/ix?doc=/Archives/edgar/data/0000320193/000114036124024352/ef20028273_8k.htm\n\n\nhttps://data.sec.gov/api/xbrl/companyconcept/CIK0000320193/us-gaap/AccountsPayableCurrent.json - info about reports\n\nhttps://data.sec.gov/api/xbrl/companyfacts/CIK0000320193.json\n\n/0001140361|24|024352/\naccessionNumber - 0001140361-24-024352\n\n'

In [1]:
from scraper import generate_CIK_TICKER
import spark_operations

sec_ticker = generate_CIK_TICKER()
sparkclass = spark_operations.sparkDelta()
sparkclass.saveDeltaTable(sec_ticker, 'ticker-sec')
#sparkclass.sparkStop()
sparkclass.readDeltaTable('ticker-sec')
sec_ticker

hadoop-azure is available
azure-storage is available

       cik_str ticker                               title      cik10D
0       320193   AAPL                          Apple Inc.  0000320193
1       789019   MSFT                      MICROSOFT CORP  0000789019
2      1045810   NVDA                         NVIDIA CORP  0001045810
3      1652044  GOOGL                       Alphabet Inc.  0001652044
4      1018724   AMZN                      AMAZON COM INC  0001018724
...        ...    ...                                 ...         ...
10206  2001699  HPAIW                      Helport AI Ltd  0002001699
10207  1991946  CGBSW              Crown LNG Holdings Ltd  0001991946
10208  1904616   BAKR  Baker Global Asset Management Inc.  0001904616
10209   808219  MHGUP      MERITAGE HOSPITALITY GROUP INC  0000808219
10210  1446250  BYMOF     Bayerische Motoren Werke AG/ADR  0001446250

[10211 rows x 4 columns]

In [3]:
sparkclass.readDeltaTable('ticker-sec').show()

+-------+------+--------------------+----------+
|cik_str|ticker|               title|    cik10D|
+-------+------+--------------------+----------+
|1519457| NMREF|Namibia Critical ...|0001519457|
|1123596|  BABB|           BAB, INC.|0001123596|
|1817004|  EZFL| EzFill Holdings Inc|0001817004|
|1346346|  CMOT|Curtiss Motorcycl...|0001346346|
|1014763|  AIMD|         Ainos, Inc.|0001014763|
| 758743|  VIDE|  VIDEO DISPLAY CORP|0000758743|
|1487718|  BLTH|AMERICAN BATTERY ...|0001487718|
|1543637|  NUMD|   Nu-Med Plus, Inc.|0001543637|
|1770141|  UPHL|      UpHealth, Inc.|0001770141|
|1375195|  CRTG|  CORETEC GROUP INC.|0001375195|
|1421981|  PTOP|Peer To Peer Network|0001421981|
|1011509|  AUMN|  Golden Minerals Co|0001011509|
|1906133|  ICCT|   iCoreConnect Inc.|0001906133|
|1643988|  LPTV|    Loop Media, Inc.|0001643988|
|  96793|   SSY|SUNLINK HEALTH SY...|0000096793|
|1898604|  YOSH|Yoshiharu Global Co.|0001898604|
|1718817| MSNVF|MISSION READY SOL...|0001718817|
|1520118|  INTV|INTEGRATED VENTUR...|0001520118|
|1776067|   OCG|Oriental Culture ...|0001776067|
|1140215|  REED|        REED'S, INC.|0001140215|
+-------+------+--------------------+----------+
only showing top 20 rows

In [ ]:
sparkclass = spark_operations.sparkDelta()
sparkclass.saveDeltaTable(sec_ticker, 'ticker-sec')

In [7]:
from scraper import get_SEC_filings


ticker = 'AAPL'

filings = get_SEC_filings(ticker)

filings

,accessionNumber,filingDate,reportDate,acceptanceDateTime,act,form,fileNumber,filmNumber,items,size,isXBRL,isInlineXBRL,primaryDocument,primaryDocDescription,fileURL
0,0000320193-24-000086,2024-08-13,2024-08-09,2024-08-13T19:02:12.000Z,,4,,,,5031,0,0,xslF345X05/wk-form4_1723590126.xml,FORM 4,https://www.sec.gov/Archives/edgar/data/000032...
1,0000320193-24-000084,2024-08-07,2024-08-05,2024-08-07T18:30:15.000Z,,4,,,,8270,0,0,xslF345X05/wk-form4_1723069808.xml,FORM 4,https://www.sec.gov/Archives/edgar/data/000032...
2,0001950047-24-005824,2024-08-05,,2024-08-05T16:32:46.000Z,33,144,001-36743,241175294,,8541,0,0,xsl144X01/primary_doc.xml,,https://www.sec.gov/Archives/edgar/data/000032...
3,0000320193-24-000081,2024-08-02,2024-06-29,2024-08-01T18:03:34.000Z,34,10-Q,001-36743,241168182,,5372771,1,1,aapl-20240629.htm,10-Q,https://www.sec.gov/Archives/edgar/data/000032...
4,0000320193-24-000080,2024-08-01,2024-08-01,2024-08-01T16:30:26.000Z,34,8-K,001-36743,241167232,"2.02,9.01",437770,1,1,aapl-20240801.htm,8-K,https://www.sec.gov/Archives/edgar/data/000032...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0001181431-14-005066,2014-02-04,2014-02-01,2014-02-04T18:33:20.000Z,,4,,,,6799,0,0,xslF345X03/rrd401118.xml,14.02.01 GORE FORM 4 - RSU VESTING,https://www.sec.gov/Archives/edgar/data/000032...
996,0001181431-14-005065,2014-02-04,2014-02-01,2014-02-04T18:33:00.000Z,,4,,,,7497,0,0,xslF345X03/rrd401119.xml,14.02.01 IGER FORM 4 - RSU VESTING,https://www.sec.gov/Archives/edgar/data/000032...
997,0001181431-14-005064,2014-02-04,2014-02-01,2014-02-04T18:32:22.000Z,,4,,,,6811,0,0,xslF345X03/rrd401122.xml,14.02.01 JUNG FORM 4 - RSU VESTING,https://www.sec.gov/Archives/edgar/data/000032...
998,0001181431-14-005063,2014-02-04,2014-02-01,2014-02-04T18:32:03.000Z,,4,,,,7514,0,0,xslF345X03/rrd401124.xml,14.02.01 LEVINSON FORM 4 - RSU VESTING,https://www.sec.gov/Archives/edgar/data/000032...
999,0001181431-14-005062,2014-02-04,2014-02-01,2014-02-04T18:31:30.000Z,,4,,,,6803,0,0,xslF345X03/rrd401125.xml,14.02.01 SUGAR FORM 4 - RSU VESTING,https://www.sec.gov/Archives/edgar/data/000032...

In [8]:
from scraper import unpackSECjson

unpackSECjson('CIK0000320193')

,finType,val,accn,fy,fp,form,filed,frame,endFormat,time,startFormat,monthWindow
0,AccountsPayable,5.520000e+09,0001193125-09-153165,2009,Q3,10-Q,2009-07-22,CY2008Q3I,2008-09-27,0809,NaT,NaN
1,AccountsPayable,4.854000e+09,0001193125-09-153165,2009,Q3,10-Q,2009-07-22,CY2009Q2I,2009-06-27,0906,NaT,NaN
2,AccountsPayableCurrent,5.520000e+09,0001193125-09-214859,2009,FY,10-K,2009-10-27,NaN,2008-09-27,0809,NaT,NaN
3,AccountsPayableCurrent,5.520000e+09,0001193125-10-012091,2009,FY,10-K/A,2010-01-25,CY2008Q3I,2008-09-27,0809,NaT,NaN
4,AccountsPayableCurrent,5.601000e+09,0001193125-09-214859,2009,FY,10-K,2009-10-27,NaN,2009-09-26,0909,NaT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
22738,IncrementalCommonSharesAttributableToShareBase...,5.885300e+07,0000320193-24-000069,2024,Q2,10-Q,2024-05-03,CY2024Q1,2024-03-30,2403,2023-12-31,3.0
22739,IncrementalCommonSharesAttributableToShareBase...,6.212800e+07,0000320193-24-000081,2024,Q3,10-Q,2024-08-02,NaN,2024-06-29,2406,2023-10-01,9.0
22740,IncrementalCommonSharesAttributableToShareBase...,6.065400e+07,0000320193-24-000081,2024,Q3,10-Q,2024-08-02,CY2024Q2,2024-06-29,2406,2024-03-31,3.0
22741,OtherAssetsMiscellaneousNoncurrent,3.905300e+10,0000320193-23-000106,2023,FY,10-K,2023-11-03,CY2022Q3I,2022-09-24,2209,NaT,NaN
22742,OtherAssetsMiscellaneousNoncurrent,4.690600e+10,0000320193-23-000106,2023,FY,10-K,2023-11-03,CY2023Q3I,2023-09-30,2309,NaT,NaN