In [7]:
from scraper import APIconnector
import pandas as pd

In [8]:
jsonwiki = APIconnector('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [9]:
#https://query2.finance.yahoo.com/ws/fundamentals-timeseries/v1/finance/timeseries/AAPL?symbol=AAPL"
#https://query2.finance.yahoo.com/v8/finance/chart/AAPL?period1=1704145844&period2=1723236317&interval=1mo

In [10]:
soup = jsonwiki.make_soup()

In [18]:
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

In [1]:
from scraper import get_spy500_formWiki


get_spy500_formWiki()

    Symbol            Security  ...         CIK      Founded
0      MMM                  3M  ...  0000066740         1902
1      AOS         A. O. Smith  ...  0000091142         1916
2      ABT              Abbott  ...  0000001800         1888
3     ABBV              AbbVie  ...  0001551152  2013 (1888)
4      ACN           Accenture  ...  0001467373         1989
..     ...                 ...  ...         ...          ...
498    XYL          Xylem Inc.  ...  0001524472         2011
499    YUM         Yum! Brands  ...  0001041061         1997
500   ZBRA  Zebra Technologies  ...  0000877212         1969
501    ZBH       Zimmer Biomet  ...  0001136869         1927
502    ZTS              Zoetis  ...  0001555280         1952

[503 rows x 8 columns]

In [12]:
from datetime import datetime, timedelta 


def get_rangeOfDates(yearOffset):
    now = datetime.now()
    dateto = int(now.timestamp())
    dt = timedelta(days=366*yearOffset)
    datefrom = int((now - dt).timestamp())
    
    return dateto, datefrom

def get_StockPrices(ticker, interval = '1d'):
    end, start = get_rangeOfDates(24)
    stockPrice = APIconnector(f'https://query2.finance.yahoo.com/v8/finance/chart/{ticker}?period1={start}&period2={end}&interval={interval}')
    
    adjClose = stockPrice.get_request().json()['chart']['result'][0]['indicators']['adjclose'][0]['adjclose']
    timestap = stockPrice.get_request().json()['chart']['result'][0]['timestamp']
    priceDF = pd.DataFrame({'adjClose':adjClose, 'time':timestap})
    priceDF['date'] =  pd.to_datetime(priceDF['time'].apply(lambda x: datetime.fromtimestamp(x))).dt.strftime('%d-%m-%Y')
    priceDF['ticker'] = ticker
    priceDF.drop('time', inplace=True, axis=1)
    return priceDF

get_StockPrices('NVDA')

        adjClose        date ticker
0       0.243638  24-07-2000   NVDA
1       0.234561  25-07-2000   NVDA
2       0.217125  26-07-2000   NVDA
3       0.201599  27-07-2000   NVDA
4       0.206376  28-07-2000   NVDA
...          ...         ...    ...
6045  100.449997  05-08-2024   NVDA
6046  104.250000  06-08-2024   NVDA
6047   98.910004  07-08-2024   NVDA
6048  104.970001  08-08-2024   NVDA
6049  104.750000  09-08-2024   NVDA

[6050 rows x 3 columns]